body{
    margin:0;
    background: rgb(193, 193, 193);
}
.title{
    text-align: center;
    font-size: 3em;
    background: rgb(254, 255, 213);
    border-style: ridge;
    border-width: 0.3em;
    border-color: rgb(182, 140, 114);
}
.table{
    border-color: black;
    border-style: ridge;
    width: 35%;
    height: 35em;
    margin-left: 32%;
    margin-right: 25%;

    display: grid;
}
    #cuadro{
        text-align: center;
        align-content: center;
        font-size: 2em;
        border-style: ridge;
        border-width: 0.5em;
        border-color: rgb(182, 140, 114);
        background: rgb(254, 255, 213);
    }
    /*FILA A*/
    .a1{
        grid-column-start: 0;
        grid-column-end: 1;
        grid-row-start: 0;
        grid-row-end: 1;

    }
    .a2{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 0;
        grid-row-end: 1;
    }
    .a3{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 0;
        grid-row-end: 1;
    }

    /*FILA B*/
    .b1{
        grid-column-start: 0;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .b2{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .b3{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    /*FILA C*/
    .c1{
        grid-column-start: 0;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .c2{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .c3{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }